<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>actionurl</key>
		<string>mybook</string>
		<key>target</key>
		<string>MyBooksViewController</string>
		<key>paramters</key>
		<string></string>
	</dict>
	<dict>
		<key>actionurl</key>
		<string>discovery</string>
		<key>target</key>
		<string>DiscoveryViewController</string>
		<key>paramters</key>
		<array/>
	</dict>
</array>
</plist>
